.footer {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.error {
    background-color: #414040;
    color: white;
    font-weight: 700;
    text-align: center;
    height: 20px;
    width: 100%;
    font-size: 16px;
}
.success {
   background-color: rgb(24, 24, 24);
   height: 100%;
   width: 0px;
}
.player {
    background-color: #0f0f11; 
    width: 100%;
    height: 110px;
    display: flex;
    gap: 10px;
    padding: 5px 30px 18px 24px;
    justify-content: space-between;
    align-items: center;
}